.InputLabel:focus-within > .InputLabelIn {
  outline: 2px solid #0fa1f9;
}

.InputLabelIn:focus-within > .InputSpan {
  font-weight: bold;
  color: #0fa1f9;
}

.infield:focus-within > span,
.infield.non-empty > span {
  color: blue;
  font-weight: bold;
}

.infield.error {
  outline-color: red;
  outline-style: auto;
  background-color: #ffeeee;
}

.infield.error > span {
  color: red;
  font-weight: bold;
}
